<!-- CTA -->
<section id="cta" class="wrapper style4">
  <div class="inner">
			<header>
			<h2>Contact Us</h2>
			<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
		</header>
	<form method="post" action="#">
		<div class="row uniform">
			<div class="6u 12u$(xsmall)">
				<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
			</div>
			<div class="12u$">
				<div class="select-wrapper">
					<select name="demo-category" id="demo-category">
						<option value="">- Subject -</option>
						<option value="1">Website</option>
						<option value="1">Bespoke Web App</option>
						<option value="1">SEM/SEO</option>
						<option value="1">OPS/Ifrastructure</option>
					</select>
				</div>
			</div>
					<div class="12u$">
				<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
			</div>
			<div class="12u$">
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="special" /></li>
				</ul>
			</div>
		</div>
	</form>


	</div>
</section>
