<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Accumsan mus tortor nunc aliquet</h2>
			<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br /> fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
		</header>
		<ul class="features">
			<li class="icon fa-paper-plane-o">
				<h3>Static Websites</h3>
				<p>We can build websites that are fast and efficient and cheap to host</p>
			</li>
			<li class="icon fa-laptop">
				<h3>Bespoke Web Applications</h3>
        <p>Looking for something a bit more substantial?  We can build custom web-applications and prototypes in PHP and Ruby on Rails</p>
			</li>
			<li class="icon fa-code">
				<h3>Legacy Site Mantinance</h3>
				<p>Have a site already built but it needs a bit of attention?  We can help.  Email us now for a free evaluation of your PHP or Rails Applications.</p>
			</li>
			<li class="icon fa-headphones">
				<h3>Cloud Based Infrastructure</h3>
				<p>Want to modernize your web stack?  We can help get your infrastructure into the clouds.  Experience in AWS, GCP and Azure.</p>
			</li>
			<li class="icon fa-heart-o">
				<h3>SEO/SEM and Social</h3>
				<p>Want to take you business to the next level?  Our SEO experts can help you with SEO, Social and Affiliate.</p>
			</li>
			<li class="icon fa-flag-o">
				<h3>Wordpress Development</h3>
				<p>Got a Wordpress site?  We have over a decade experience in enterprise grade Wordpress support. We can handle custom themes, frameworks and plugins.</p>
			</li>
		</ul>
	</div>
</section>
